#define APP_ICON 0
#define ID_THUMBNAIL_BUTTONS_IMG 41001

APP_ICON                    ICON DISCARDABLE    "../../img/kiss.ico"
ID_THUMBNAIL_BUTTONS_IMG    BITMAP		        "../../img/img_thumb_buttons.bmp"

1       VERSIONINFO
FILEVERSION     1,0,0,0
FILEFLAGSMASK   0X3FL
FILEFLAGS       0L
FILEOS          0X40004L
FILETYPE        0X2
FILESUBTYPE     0
BEGIN
        BLOCK "StringFileInfo"
        BEGIN
                BLOCK "040904B0"
                BEGIN
                        VALUE "ProductVersion", "1.0"
                        VALUE "FileDescription", "KISS Music Player"
                        VALUE "CompanyName", "André Miranda"
                        VALUE "LegalCopyright", "Distributed under GPL v2.0"
                        VALUE "ProductName", "KISS Player"
                END
        END
        BLOCK "VarFileInfo"
        BEGIN
                VALUE "Translation", 0x0409, 0x04B0
        END
END
