# Folders
autom4te.cache/
autotools/
locale/

# Files
aclocal.m4
configure
kissplayer
kissplayer.desktop
Makefile
Makefile.in
png2img
remove-potcdate.sed
stamp-po
Thumbs.db

# Extensions
*.cbp
*.cscope_file_list
*.depend
*.deps
*.desktop
*.dirstamp
*.dll
*.exe
*.gmo
*.layout
*.log
*.mo
*.o
*.res
*.s3db
*.status
*.zip

